asgiref==3.11.1
Django==6.0.2
dj-database-url==3.0.1
gunicorn==25.2.0
numpy==2.4.3
opencv-python==4.13.0.92
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
pytesseract==0.3.13
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.9.0
