{% extends "base.html" %}

{% block content %}

<center>

<h3>Republic of the Philippines</h3>
<h3>Province of ______</h3>
<h3>Municipality of ______</h3>
<h2>Barangay ______</h2>

<h1>CERTIFICATE OF INDIGENCY</h1>

</center>

<p>

This is to certify that

<b>
{{ resident.first_name }} {{ resident.middle_name }} {{ resident.last_name }}
</b>

is a resident of {{ address }}, Barangay ______ and belongs to the indigent family of this barangay.

</p>

<p>

This certification is issued upon request of the above named person
for the purpose of:

<b>{{ service.purpose_display }}</b>

</p>

<p>

Issued this day {{ today }}.

</p>

<br><br>

________________________  
Barangay Captain

<br><br>

<button onclick="window.print()">Print Certificate</button>

{% endblock %}
