{% extends "base.html" %}

{% block content %}

<center>
<h3>Republic of the Philippines</h3>
<h3>Province of ______</h3>
<h3>Municipality of ______</h3>
<h2>Barangay ______</h2>
<h1>QCID REQUEST DETAILS</h1>
</center>

<p><b>First Name:</b> {{ resident.first_name }}</p>
<p><b>Middle Name:</b> {{ resident.middle_name|default:"-" }}</p>
<p><b>Last Name:</b> {{ resident.last_name }}</p>
<p><b>Birthdate:</b> {{ resident.birth_date }}</p>
<p><b>Sex:</b> {{ resident.gender }}</p>
<p><b>Civil Status:</b> {{ resident.civil_status }}</p>
<p><b>Precinct:</b> {{ resident.precinct|default:"-" }}</p>
<p><b>Address:</b> {{ address }}</p>
<p><b>Residency of Barangay Gulod:</b> {{ service.residency_since|date:"m-d-Y"|default:"-" }}</p>

<button onclick="window.print()">Print QCID Details</button>

{% endblock %}
